@using CodingEventsDemo.ViewModels;
@model AddTasksViewModel;

<h1>Add Tasks</h1>
<h3>For project "@Model.ProjectDescription"</h3>

<form asp-controller="Tasks" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Details"></label>
        <input asp-for="Details" />
    </div>
    @Html.Hidden("ProjectId")
    <input type="submit" value="Add Task" />
</form>