@model List<CodingEventsDemo.Models.Project>


<h1>Projects</h1>

<p>
    <a asp-controller="Projects" asp-action="Add">Add Project</a>
</p>


@if (Model.Count == 0)
{
    <p>No projects yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Description
            </th>
        </tr>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Id</td>
                <td><a asp-controller="Projects" asp-action="Detail" asp-route-id="@project.Id">@project.Description</a></td>
            </tr>
        }
    </table>
}

