@model CodingEventsDemo.ViewModels.AddProjectCategoryViewModel

<h1>Add New Client</h1>

<form asp-controller="ProjectClient" asp-action="ProcessCreateProjectClientForm" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Add Client" />
</form>
